body {
    padding: 0;
    margin: 0;
}

.our-phone {
    background-color: white;
    padding: 5px 12px 5px 12px;
    border-radius: 3px;

}

.login {
    margin-top: 10px;
    border: 1px solid black;
    padding: 3px 15px;
}

.logo {
    margin-top: 10px !important;
}

.dropdown-toggle {
    padding: 5px 10px !important;
}

.our-phone strong {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.button_big {
    background-color: #e90708;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 193px;
    margin: 0 auto;
    display: inherit;
    font-size: 16px;

    padding: 8px 20px 7px 20px;
}

.navbar-nav {
    margin-top: 10px;

    border-left: 1px solid #dedede;
}

.navbar-default {
    margin: 0 !important;
}
.nav_menu {
    margin-top: 10px!important;
    text-align: center!important;

}
/*  body */
.list_composition {
    list-style-type: none;
}
.under_line {
    text-decoration: underline!important;
    color: #2d6ca1;
}
.menu_slider {
    background-color: #e0e1ef !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    max-width: 200px;

}

.list-group {
    border-radius: 0 !important;
    cursor: pointer;
}

.product {
    background-color: #d2d2dd !important;
}
.menu_poduct {
    background-color: white!important;
    width: 200px!important;
}
.menu_poduct:hover{
    background-color: #f3f3f3 !important;
    text-decoration: none!important;
}
.menu_slider:hover, .list-group-item:hover {
    color: white !important;
    background-color: #2f71ab !important;
}

.count1 {
    cursor: pointer
}

/* shoping */
.body_shop {
    margin-top: 20px;
}

.steps {
    padding: 0 !important;
}

.thead {
    background-color: black;
    color: white;
    text-align: center;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*  selectnerna    */
.ui.form select {
    width: 150px !important;
    font-size: 12px;
    margin-right: 0 !important;
    height: 35px;

}

.selectArticle, .second_select_header {
    width: 120px !important;
    display: inline-block !important;
    margin-right: 20px !important;

}

.count_input, .price {
    width: 60px !important;
}

.format, .secondSelect {
    margin-right: 20px !important;
    display: inline-block !important;
}

.job_options {
    display: inline-block;
}

.product_select {
    background-color: #f0f0f0;
    height: 170px;
    padding: 0 !important;
}

.ui.fluid.dropdown {

    min-width: 130px !important;
}

.quantity_verification {
    display: inline-block;
    float: left;
    margin-top: 30px;
}

.count_price {
    display: inline-block;
    margin-top: 5% !important;
}

.second_select {
    background-color: #e6e6e6 !important;
    width: 100%;
    display: inline-block;
    padding: 10px;

}

.third_select {
    background-color: #f0f0f0;
    width: 100%;
    display: inline-block;
    padding: 10px;

}

.button_price_list {
    margin-bottom: 10px !important;
}

/*  text area shoping */
.count_paymant {
    font-size: 20px;
}
.method_payments select {
    display: table-cell;
    margin-bottom: 5px;
}

.select_second {
    float: left;
    padding: 0 !important;
    margin-top: 5% !important;
}

.discount_label {
    font-size: 12px !important;
}

.futter_body {
    background-color: #e0e1ef !important;
    padding: 5px !important;
}

.futter_image {
    padding-bottom: 10px;
}

.sendin_button {
    background-color: #e0e1ef;
    height: 60px;
    margin-bottom: 5px;
}

.text_permision {
    font-size: 10px;
}

.sendin_button div {
    margin-top: 20px;
}

.label_ok, .futers_label_no, .futers_maybe {
    font-size: small !important;
    color: white !important;

}

.label_ok {
    background-color: #00cc00 !important;
}

.futers_label_no {
    background-color: red !important;
}

.futers_maybe {
    background-color: #ffa500 !important;
}

.futter_text_img {
    font-size: smaller;
}

.futter {
    height: 50px;
    background-color: #f8f8f8;
    margin-top: 70px !important;
    font-size: smaller;

}

/* registration */
.registration_label {
    font-size: 11px !important;
    padding: 0 !important;
    text-align: right;
    line-height: 3;
    margin-left: 5px;
}

.coordinate {
    background-color: #e0e1ef;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.label-primary {
    position: relative;
    top: -30px;
}

.form-group {
    margin: 0 !important;
}

/* accaunt */
.button_submit {
    margin-top: 10px !important;
}

/* admin panel*/
.login_form {
    width: 500px;
    margin: 0 auto !important;
}